:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);

  .root-content-wrapper {
    background-color: var(--background);
    color: var(--text-color);
    flex: 1;
  }
}
