:root {
  --header-height: 100px;
  --background-color: white;
  --text-color: black;
  --main-color: #439fb0;
  --main-color-light: #90e0ef;
}

.theme-dark {
  --background-color: #020506;
  --main-color: #122c30;
  --main-color-light: #23525b;
  --text-color: white;
}
